---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { publishedPosts } from "../../utilities/getPosts.astro";

export const prerender = true;

export async function getStaticPaths() {
  const uniqueTags = [
    ...new Set(publishedPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = publishedPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={`Tag: ${tag}`}>
  <p>Posts tagged with <mark>{tag}</mark></p>

  <ul class="link-card-grid">
    {
      posts?.map((post) => (
        <BlogPost
          url={post.url}
          title={post.frontmatter.title}
          description={post.frontmatter.description}
          pubDate={post.frontmatter.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
