---
import BlogPost from "../../components/BlogPost.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { publishedPosts } from "../../utilities/getPosts.astro";

export const prerender = true;

export async function getStaticPaths() {
  const uniqueTags = [
    ...new Set(publishedPosts.map(({ data }) => data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = publishedPosts.filter(({ data }) =>
      data.tags.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout
  pageTitle={`Tag: ${tag}`}
  pageDescription={`Posts tagged with '${tag}'`}>
  <p>Posts tagged with <mark>{tag}</mark></p>

  <ul class="link-card-grid">
    {
      posts?.map(({ data, slug }) => (
        <BlogPost
          url={slug}
          title={data.title}
          description={data.description}
          pubDate={data.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
