---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { publishedPosts } from "../utilities/getPosts.astro";

let posts = publishedPosts.sort(
  ({ data: a }, { data: b }) =>
    new Date(b.pubDate).getTime() - new Date(a.pubDate).getTime()
);

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>

  <ul class="link-card-grid">
    {
      posts.map(({ data, slug }) => (
        <BlogPost
          url={slug}
          title={data.title}
          description={data.description}
          pubDate={data.pubDate}
          tags={data.tags}
        />
      ))
    }
  </ul>
</BaseLayout>
