---
import Card from "./Card.astro";

const { url, title, description } = Astro.props;
---

<!-- <li><a href={url}>{title}</a></li> -->

<Card href={url} title={title} body={description} />

<style>
    li {
        max-width: 5rem;
    }
</style>