---
import { Icon } from "astro-icon/components";

interface ImageData {
  url: string;
  alt: string;
}

interface Props {
  href: string;
  title?: string;
  body?: string;
  date?: string;
  tags?: string[];
  attributes?: string[];
  image?: ImageData;
}

const { href, title, body, date, tags, attributes, image } =
  Astro.props as Props;
---

<li class="link-card">
  <a href={href} title={title} aria-label={title}>
    <div class="left">
      {title && <h3> {title} </h3>}

      {body && <p> {body} </p>}

      <div class="footer">
        {
          date && (
            <span class="date">
              <Icon name="mdi:calendar" /> {date}
            </span>
          )
        }

        {
          tags?.length && (
            <div class="tags">
              {tags.slice(0, 3).map((tag) => (
                <span class="tag">{tag}</span>
              ))}
            </div>
          )
        }

        {
          attributes?.length && (
            <div class="attributes">
              {attributes.slice(0, 3).map((attribute) => (
                <span class="attribute">{attribute}</span>
              ))}
            </div>
          )
        }
      </div>
    </div>

    {
      image?.url && (
        <div
          class="right"
          style={`background-image: url(${image.url})`}
          aria-hidden="true"
          role="presentation"
        />
      )
    }
  </a>
</li>
