---
import { Image } from "astro:assets";
import daytrackr from "../assets/daytrackr.png";
import flotrade from "../assets/flotrade.png";
import * as use from "../components/switch-case";
import Tag from "../components/Tag.astro";
import { formatDate } from "../scripts/formatDate";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout
  pageTitle={frontmatter.title}
  pageDescription={frontmatter.description}>
  {frontmatter.pubDate && <p>Published on {formatDate(frontmatter.pubDate)}</p>}

  {
    frontmatter.description && (
      <p>
        <em>{frontmatter.description}</em>
      </p>
    )
  }

  {
    frontmatter.authors?.length && (
      <p>Written by {frontmatter.authors.join(", ")}</p>
    )
  }

  <use.switch value={frontmatter.title}>
    <use.case slot="FloTrade">
      <Image
        src={flotrade}
        alt="FloTrade logo"
        format="webp"
        height="300"
        quality="mid"
      />
    </use.case>

    <use.case slot="DayTrackr">
      <Image
        src={daytrackr}
        alt="DayTrackr logo"
        format="webp"
        height="300"
        quality="mid"
      />
    </use.case>
  </use.switch>

  {
    frontmatter.tags?.length && (
      <div class="tags">
        {frontmatter.tags.map((tag) => (
          <Tag tag={tag} />
        ))}
      </div>
    )
  }

  <slot />
</BaseLayout>
